#admin-container
  header
    .button
      height: 2.285em
  footer.footer.is-admin
    background-color: #52402a
    .content
      color: #fff
    a:hover
      color: $primary
      opacity: .6

  a
    transition: all .2s ease-in-out !important
  form
    .is-danger
      label, i
        color: $danger
      input, select, textarea
        color: $danger
        border-color: $danger

  .cards
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: flex-start
