#admin-container
  header
    .button
      height: 2.285em
  footer.footer.is-admin
    background-color: #52402a
    .content
      color: #fff
    a:hover
      color: $primary
      opacity: .6

  a
    transition: all .2s ease-in-out !important
  form
    .is-danger
      label, i
        color: $danger
      input, select, textarea
        color: $danger
        border-color: $danger

  table.with-thumbnail
    th, td
      vertical-align: middle
    figure
      &.image.thumbnail
        width: 40px
        height: 40px
        padding: 0
  table.works
    th:first-child
      width: 60px
    .status
      text-align: center
    tr.published
      td.status
        color: $info
    tr.drafted
      background-color: #fffaf2
      &:hover
        background-color: #fcecda
      td.status
        color: $warning
    tr.deleted
      color: lighten($text, 30%)
      background-color: #eeeeee
      &:hover
        background-color: #dddddd
    .tag
      font-size: 12px
      margin: .2em
