#admin-container
  header
    .button
      height: 2.285em
  a
    transition: all .2s ease-in-out !important
  label.is-danger
    color: $danger

  footer.footer.is-admin
    background-color: #52402a
    .content
      color: #fff
    a:hover
      color: $primary
      opacity: .6
